{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container has-background-primary-light p-5 mb-4">
    <div class="columns">
        <div class="column">
            <div class="flex flex-space-between">
                <button class="flex line-height" onClick="usePencil()"><img
                        src="{% static 'images/pencil.png' %}" /></button>
                <button class="flex  -height" onClick="useEraser()"><img
                        src="{% static 'images/eraser.png' %}" /></button>
            </div>
            <div class="box has-background-warning-dark has-text-centered">
                <figure id="canvasContainer" class="image is-256x256">
                </figure>
            </div>
            <div class="flex flex-space-between">
                <button onClick="clearCanvas()">Clear</button>
                <button onClick="getRandomOutput()">Random</button>
            </div>
        </div>
        <div class="column is-align-self-center has-text-centered">
            <button class="button is-success is-rounded" onclick="transferimage2image()">Generate</button>
        </div>
        <div class="column">
            <div class="box has-background-warning-dark">
                <figure id="output_from_image" class="image is-256x256">
                </figure>
            </div>
        </div>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
</div>
<!-- Text to image generation -->
<div class="container has-background-primary-light p-5 mb-4">
    <div class="columns">
        <div class="column is-align-self-center has-text-centered">
            <input id = 'intext' type="text" />
        </div>
        <div class="column is-align-self-center has-text-centered">
            <button class="button is-success is-rounded" onclick="transfertext2image()">Generate</button>
        </div>
        <div class="column">
            <div class="box has-background-warning-dark">
                <figure id="output_from_text" class="image is-256x256">
                </figure>
            </div>
        </div>
    </div>
</div>

{% endblock content %}